﻿@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <p>Yo en la Universidad be like:</p>
                 <img src="/img/memaso.jpg" class="img-01" alt="" />
                 <a class="btn btn-success" onclick="CrearAlerta()"></a>
            </div>
        </div>
    </div>

    <script>
        function CrearAlerta(){
            alert("Mi nombre es Crhystel Velasco y mi hobbie es jugar y meterme a hacer cosas que no sé hacer DIOSSS")
        }
    </script>

    
</body>


