﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5 bg-image">
    <div class="row justify-content-center">
    </div>
</div>

<style>
    .bg-image {
        background-image: url('https://i.pinimg.com/474x/a6/a4/d3/a6a4d3fede5bbf16f508bb2dfd4318eb.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }
</style>
