﻿@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <p>Yo en la Universidad be like:</p>
                 <img src="/img/memaso.jpg" class="img-01" alt="" />
                 <br />
                 <a class="btn btn-info" onclick="CrearAlerta()">Mostrar Alerta</a>
            </div>
        </div>
    </div>
    

   <script src="~/js/site.js"></script>
    
</body>


